/*
   Buttons
 */

button{
   border: unset;
   &[disabled='disabled']{
      opacity: .5;
   }
}

button + button{
   margin-left: 10px;
}

.btn{
   font-family: $fontHeaders;
   display: inline-block;
   font-size: 20px;
   letter-spacing: 0.1em;
   padding: 10px 20px 9px;
   transition: all .3s ease-in-out;
   white-space: nowrap;
}

.btn-maincolor{
   background-color: $colorMain;
   color: $lightColor;
   &:hover:not([disabled='disabled']){
      background-color: $fontColor;
   }
}
.btn-maincolor2{
   background-color: $colorMain2;
   color: $lightColor;
   &:hover:not([disabled='disabled']){
      background-color: $fontColor;
   }
}